/* theme */
.hero-area {
    padding: 150px 0;
    background: url('../images/hero-bg-shape.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;

    .hero-title {
        position: relative;
        text-align: center;

        img {
            width: 70px;
            position: absolute;
            top: 40px;

            &.hero-shape-2 {
                left: -50px;
            }

            &.arrow-vector-1 {
                right: -50px;
            }
        }
    }

    .scroll-down-content {
        text-align: center;

        img {
            margin: auto;
            width: auto;
        }

        a {
            display: block;
            width: 60%;
            margin: 10px auto 0;
            text-transform: capitalize;
        }
    }

    .bottom-right-content {
        img.hero-shape {
            width: auto;
            margin-bottom: 30px;
        }
    }
}

.animated-image-area {
    .animated-image {
        width: 650px;
        height: 780px;
        background: url('../images/animated-image.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        margin: auto;
    }
}

.about-area {
    .about-content {
        p:nth-child(2) {
            margin-bottom: 150px;
        }
    }
}

.counter-single {
    position: relative;
    text-align: center;
    margin: 0 auto 30px;
    transition: $transition;

    .counter-number {
        margin-bottom: 10px;
    }

    span.counter,
    span.plus-sign {
        color: $primary-color;
        font-size: 72px;
        line-height: 72px;
        font-weight: 700;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        transition: $transition;

        @include portrait-phone {
            font-size: 42px;
            line-height: 42px;
        }
    }

    .counter-text {
        width: 40%;
        margin: auto;
    }
}

.section-top {
    padding-bottom: 30px;
    border-bottom: 1px solid $border-color;
}

.case-single {
    margin-bottom: 60px;

    p {
        color: $border-color;
    }

    .case-image {
        position: relative;

        .hover-state {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            visibility: hidden;
            transition: $transition;

            img {
                width: 120px;
            }
        }

        &:hover {
            .hover-state {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.service-single {
    padding: 60px 0;
    background-color: transparent;
    border-bottom: 1px solid $border-color;
    transition: $transition;

    &.active {
        .service-image {
            &::before {
                opacity: 1;
                visibility: visible;
                height: 400px;
                top: -200px;
            }
        }
    }

    .service-title {
        width: 90%;
    }

    .service-image {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -50px;
            left: 0;
            width: 100%;
            height: 100px;
            background: url('../images/service-image.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            opacity: 0;
            visibility: hidden;
            transition: $transition;
        }
    }

    ul {
        li {
            list-style: disc;
            margin: 15px 0;
        }
    }

    .service-btn {
        display: block;
        width: 100px;
        height: 100px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        text-align: center;
        margin-left: auto;

        img {
            width: auto;
            margin: 25px auto 5px;
        }

        span {
            text-transform: capitalize;
        }
    }
}

.brand-area {
    .brand-items {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
    }
}

.brand-single {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    img {
        width: auto;
    }
}

.testimonial-area {
    .swiper {
        .swiper-wrapper {
            .swiper-slide {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .swiper-pagination {
            font-size: 48px;
            font-weight: 500;
            letter-spacing: -5px;
        }

        .swiper-button-next {
            width: 65px;

            &::after {
                display: none;
            }
        }

        .swiper-button-prev {
            width: 65px;

            img {
                transform: rotate(180deg);
            }

            &::after {
                display: none;
            }
        }
    }
}

.single-testimonial {
    padding: 0 180px;
    cursor: grabbing;

    .client-quote {
        font-size: 36px;
        color: $secondary-color;
        font-weight: 400;
        font-style: italic;
        display: inline-block;
    }

    .client-part {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 150px;

        .client-image {
            img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
            }
        }

        .client-text {
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }
    }
}
